#noFavorites {
  max-width: 600px;
  background-color: rgba(145, 145, 145, 0.35);
  border-radius: 10px;
  align-content: center;
  padding: 10px;
  text-align:center;
}

h3 {
  color:white;
}

div {
  text-align: center;
  margin: auto;
}

h5 {
  color: rgb(59, 198, 171);
}