<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQIL9ndc2oHZ4w9VXJSVjV684c7pJJMHY"></script>
<div id="searchBox" class="container">
  <br><br>
  <h1>
    Events Search
  </h1>
  <hr />
  <form [formGroup]="searchForm">
    <div class="row mt-3">
      <div class="form-group">
        <label for="keyword-input" class="form-label">Keyword<span class="asterisk">*</span></label>
        <input #keywordBox required formControlName="keyword" type="text" id="keyword-input" class="form-control">
      </div>
    </div>

    <div class="row mt-3">
      <div class="form-group col-md-6">
        <label for="distance-input" class="form-label">Distance</label>
        <input formControlName="distance" type="text" id="distance-input" placeholder="10" class="form-control">
      </div>
      <div class="form-group col-md-5">
        <label for="category-input" class="form-label">Category<span class="asterisk">*</span></label>
        <select formControlName="category" id="category-input" class="form-control">
          <option value="default">Default</option>
          <option value="music">Music</option>
          <option value="sports">Sports</option>
          <option value="artstheatre">Arts & Theatre</option>
          <option value="film">Film</option>
          <option value="misc">Miscellaneous</option>
        </select>
      </div>
    </div>
    
    <div *ngIf="!searchForm.get('autoDetect').value">
      <div class="row mt-3">
        <div class="form-group">
          <label for="location-input" class="form-label">Location<span class="asterisk">*</span></label>
          <input #locationBox required formControlName="location" type="text" id="location-input" class="form-control">
        </div>
      </div>
    </div>
    
    
    <div class="form-check mt-3">
      <input formControlName="autoDetect" type="checkbox" id="auto-input" class="form-check-input" (change)="setIP()">
      <label for="auto-input" class="form-check-label">Auto-detect your location (Please disable adblocker)</label>
    </div>

    <!-- <div *ngIf="showContent">
      <p>This content is only displayed when showContent is true!</p>
    </div> -->
    


    <div class="container d-flex justify-content-center">
      <div class="row mt-3">
        <div class="col">
          <div *ngIf="searchForm.get('autoDetect').value; else buttonElse">
            <button type="button" class="btn btn-danger" (click)="setTicketMasterAuto()">SUBMIT</button>
          </div>
          <ng-template #buttonElse>
            <button type="button" class="btn btn-danger" (click)="setTicketMasterManual()">SUBMIT</button>
          </ng-template>
        </div>
        <div class="col">
          <button type="reset" class="btn btn-primary" (click)="clearFunc()">CLEAR</button>
        </div>
        <!-- <div class="col">
          <button type="button" class="btn" (click)="testFunc()">TEST</button>
        </div> -->
      </div>
    </div>

    <br>

  </form>
</div>

<br><br>

<!-- /////////////////////////////////////////////////////// TABLE /////////////////////////////////////////////////////////// -->
<ng-container *ngIf="!hideStuff">
  <div class="container d-flex justify-content-center rounded">
    <table id="dataTable" class="table table-striped table-dark">
      <thead>
        <tr>
          <th><h5>Date</h5></th>
          <th><h5>Icon</h5></th>
          <th ><h5>Event</h5></th>
          <th ><h5>Genre</h5></th>
          <th ><h5>Venue</h5></th>
        </tr>
        <ng-container *ngFor="let row of searchResults; let i = index">
          <tr #self (click)="showDetails(self)">
            <div hidden>{{i}}</div>
            <td>{{row.dates.start.localDate}} <br> {{row.dates.start.localTime}}</td>
            <td><img src="{{row.images[0].url}}"></td>
            <td>{{row.name}}</td>
            <td>{{row.classifications[0].segment.name}}</td>
            <td>{{row._embedded.venues[0].name}}</td>
          </tr>
        </ng-container>
      </thead>
    </table>
  </div>
  
  <!-- /////////////////////////////////////////////////////// DETAIL BOX /////////////////////////////////////////////////////////// -->
  <ng-container *ngIf="detailBool">
    <div class="container" id="detailBox">
      <div class="row">
        <button id="backButton">
          <a id="backLink" class="col" href="">&lt;Back</a>
        </button>
      </div>
      <br>
      <div class="row container d-flex justify-content-center">
        <h2 class="col-3" href="">{{rowName}}</h2>
        <button id="heartButton" class="col-1" type="button" (click)="addFavorite()">
          <img src="../assets/heart-icon.png">
        </button>
      </div>
      <br>
      <mat-tab-group mat-align-tabs="center" backgroundColor="primary" mat-stretch-tabs="false">
        <mat-tab label="Events" class="container">
          <div class="row align-items-center">
            <div class="col-md-6">
              <div class="row">
                <h5 class="col-sm-12 d-flex justify-content-center">
                  Date
                </h5>
              </div>
              <div class="row">
                <div class="col-sm-12 d-flex justify-content-center">
                  {{localDate}}
                </div>
              </div>
              <br>
              <div class="row">
                <h5 class="col-sm-12 d-flex justify-content-center">
                  Spotify Info
                </h5>
              </div>
              <div class="row">
                <div class="col-sm-12 d-flex justify-content-center">
                  <ng-container *ngFor="let artist of rowAttractions; let i = index">
                    {{artist.name + (i < rowAttractions.length - 1 ? ' | ' : '')}}
                  </ng-container>
                </div>
              </div>
              <br>
              <div class="row">
                <h5 class="col-sm-12 d-flex justify-content-center">
                  Venue
                </h5>
              </div>
              <div class="row">
                <div class="col-sm-12 d-flex justify-content-center">
                  {{venueName}}
                </div>
              </div>
              <br>
              <div class="row">
                <h5 class="col-sm-12 d-flex justify-content-center">
                  Genres
                </h5>
              </div>
              <div class="row">
                <div class="col-sm-12 d-flex justify-content-center">
                  <ng-container *ngIf="rowGenre != 'Undefined'">
                    {{rowGenre + ' | '}}
                  </ng-container>
                  <ng-container *ngIf="rowSegment != 'Undefined'">
                    {{rowSegment + ' | '}}
                  </ng-container>
                  <ng-container *ngIf="rowSubGenre != 'Undefined'">
                    {{rowSubGenre + ' | '}}
                  </ng-container>
                  <ng-container *ngIf="rowType != 'Undefined'">
                    {{rowType + ' | '}}
                  </ng-container>
                  <ng-container *ngIf="rowSubType != 'Undefined'">
                    {{rowSubType + ' | '}}
                  </ng-container>
                </div>
              </div>
              <br>
              <div class="row">
                <h5 class="col-sm-12 d-flex justify-content-center">
                  Price Ranges
                </h5>
              </div>
              <div class="row">
                <div class="col-sm-12 d-flex justify-content-center">
                  {{rowPriceMin + ' - ' + 
                  rowPriceMax + ' (USD)'}}
                </div>
              </div>
              <br>
              <div class="row">
                <h5 class="col-sm-12 d-flex justify-content-center">
                  Ticket Status
                </h5>
              </div>
              <div class="row">
                <div class="col-sm-12 d-flex justify-content-center">
                  <ng-container *ngIf="ticketStatus == 'onsale'">
                    <button class="btn btn-success">On Sale</button>
                  </ng-container>
                  <ng-container *ngIf="ticketStatus == 'rescheduled'">
                    <button class="btn btn-warning">Rescheduled</button>
                  </ng-container>
                  <ng-container *ngIf="ticketStatus == 'offsale'">
                    <button class="btn btn-danger">Off Sale</button>
                  </ng-container>
                  <ng-container *ngIf="ticketStatus == 'cancelled'">
                    <button class="btn btn-dark">Cancelled</button>
                  </ng-container>
                  <ng-container *ngIf="ticketStatus == 'postponed'">
                    <button class="btn btn-warning">Rescheduled</button>
                  </ng-container>
                </div>
              </div>
              <br>
              <div class="row">
                <h5 class="col-sm-12 d-flex justify-content-center">
                  Buy Ticket At:
                </h5>
              </div>
              <div class="row">
                <div class="col-sm-12 d-flex justify-content-center">
                  <a [href]="rowURL">Ticketmaster</a>
                </div>
              </div>
              <br>
            </div>
    
            <div class="col-md-6">
              <img [src]="rowSeatmap">
            </div>
          </div>
          <div class="row d-flex justify-content-center">
            Share on: 
            <div class="col-1">
              <a href="https://twitter.com/intent/tweet?text=Check%20{{rowName}}%20on%20Ticketmaster,{{rowURL}}" target="_blank">
                <img class="icon" src="../assets/twitter-icon.png">
              </a>
              <a href="https://www.facebook.com/sharer/sharer.php?u={{rowURL}}&amp;src=sdkpreparse" target="_blank">
                <img class="icon" src="../assets/facebook-icon.png">
              </a>
            </div>
            <!-- <div class="col-1">

            </div> -->
  
            
            
            <!-- Share on: <button type="button" data-href="websiteUrl"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{websiteUrl}}&amp;src=sdkpreparse">Facebook</a></button> <button><a href="https://twitter.com/intent/tweet?text=text goes here {{websiteUrl}}&hashtags=hashtag1,hashtag2" target="_blank">Twitter</a>
            </button>     -->
          </div>
        </mat-tab>
        <mat-tab label="Spotify Info" class="container">
          <ng-container *ngIf="spotifyResult.length > 0; else artistElse">
            <div id="carouselExampleControls" class="carousel slide" data-interval="false" data-bs-ride="carousel">
              <div class="carousel-inner">
                <ng-container *ngFor="let artist of spotifyResult; let i = index">
                  <ng-container *ngIf="i == 0; else carouselElse">
                    <div class="carousel-item active">
                      <br>
                      <div class="row">
                        <div class="col-2  d-flex justify-content-center">
                          <figure class="figure">
                            <img class="artistProfile" [src]="artist.images[0].url" class="figure-img img-fluid rounded">
                            <figcaption class="figure-caption">{{artist.name}}</figcaption>
                          </figure>
                
                        </div>
                        <br>
                        <div class="col-9  align-self-center">
                          <div class="row align-items-center">
                            <h5 class="col-4 ">
                              Popularity
                            </h5>
                            <h5 class="col-4 ">
                              Followers
                            </h5>
                            <h5 class="col-4 ">
                              Spotify Link
                            </h5>
                          </div>
                          <div class="row align-items-center">
                            <div class="col-4 ">
                              {{artist.popularity}}
                            </div>
                            <div class="col-4 ">
                              {{artist.followers.total}}
                            </div>
                            <div class="col-4 ">
                              <a [href]="artist.external_urls.spotify">
                                <img class="icon" src="../assets/Spotify-Icon.png">
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                <br>
                      <div class="row">
                        <h5 class="col-12">
                          Albums Featuring {{artist.name}}
                        </h5>
                      </div>
                      <br>
                
                      <div class = "row">
                        <div class="col-4">
                          <ng-container *ngIf="albumsLoaded">
                            <img class="album" [src]="albums[i][0]">
                          </ng-container>
                        </div>
                        <div class="col-4">
                          <ng-container *ngIf="albumsLoaded">
                            <img class="album" [src]="albums[i][1]">
                          </ng-container>
                        </div>
                        <div class="col-4">
                          <ng-container *ngIf="albumsLoaded">
                            <img class="album" [src]="albums[i][2]">
                          </ng-container>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                  <ng-template #carouselElse>
                    <div class="carousel-item">
                      <br>
                      <div class="row">
                        <div class="col-2  d-flex justify-content-center">
                          <figure class="figure">
                            <img class="artistProfile" [src]="artist.images[0].url" class="figure-img img-fluid rounded">
                            <figcaption class="figure-caption">{{artist.name}}</figcaption>
                          </figure>
                
                        </div>
                        <br>
                        <div class="col-9  align-self-center">
                          <div class="row align-items-center">
                            <h5 class="col-4 ">
                              Popularity
                            </h5>
                            <h5 class="col-4 ">
                              Followers
                            </h5>
                            <h5 class="col-4 ">
                              Spotify Link
                            </h5>
                          </div>
                          <div class="row align-items-center">
                            <div class="col-4 ">
                              {{artist.popularity}}
                            </div>
                            <div class="col-4 ">
                              {{artist.followers.total}}
                            </div>
                            <div class="col-4 ">
                              <a [href]="artist.external_urls.spotify">
                                <img class="icon" src="../assets/Spotify-Icon.png">
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                <br>
                      <div class="row">
                        <h5 class="col-12">
                          Albums Featuring {{artist.name}}
                        </h5>
                      </div>
                      <br>
                
                      <div class = "row">
                        <div class="col-4">
                          <ng-container *ngIf="albumsLoaded">
                            <img class="album" [src]="albums[i][0]">
                          </ng-container>
                        </div>
                        <div class="col-4">
                          <ng-container *ngIf="albumsLoaded">
                            <img class="album" [src]="albums[i][1]">
                          </ng-container>
                        </div>
                        <div class="col-4">
                          <ng-container *ngIf="albumsLoaded">
                            <img class="album" [src]="albums[i][2]">
                          </ng-container>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                  
                </ng-container>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden"></span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden"></span>
              </button>
            </div>
          </ng-container>
          <ng-template #artistElse>
            <h3>No Spotify data found</h3>
          </ng-template>
        </mat-tab>
        <!-- <mat-tab label="Artist/Teams" class="container">
          
          <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="../assets/test-img.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="../assets/test-2.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="../assets/test-3.png" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </mat-tab> -->
        <mat-tab label="Venue" class="container">
          <div class="row">
            <div class="col-6 border">
              <div class="row">
                <h5 class="col-12 d-flex justify-content-center">
                  Name
                </h5>
              </div>
              <div class="row">
                <div class="col-12 d-flex justify-content-center">
                  {{venueName}}
                </div>
              </div>
              <br>
              <div class="row">
                <h5 class="col-12 d-flex justify-content-center">
                  Address
                </h5>
              </div>
              <div class="row">
                <div class="col-12 d-flex justify-content-center">
                  {{venueAddress}}
                </div>
              </div>
              <br>
              <div class="row">
                <h5 class="col-12 d-flex justify-content-center">
                  Phone Number
                </h5>
              </div>
              <div class="row">
                <div class="col-12 d-flex justify-content-center">
                  {{venuePhone}}
                </div>
              </div>
            </div>
            <div class="col-6 border">
              <div class="row">
                <h5 class="col-12 d-flex justify-content-center">
                  Open Hours
                </h5>
              </div>
              <div class="row">
                <div class="col-12 d-flex justify-content-center">
                  <ng-container *ngIf="!showHoursDetail; else hoursElse">
                    <div class="module line-clamp"><p>{{venueHours}}</p></div>
                  </ng-container>
                  <ng-template #hoursElse>
                    <ng-container *ngIf="showHoursDetail">
                      {{venueHours}}
                    </ng-container>
                  </ng-template>
                </div>
              </div>
              <div class="row">
                <div class="col-12 d-flex justify-content-center">
                  <ng-container *ngIf="!showHoursDetail; else showHoursElse">
                    <span class="pseudoLink" (click)="flipHoursDetail()">Show More</span>
                  </ng-container>
                  <ng-template #showHoursElse>
                    <ng-container *ngIf="showHoursDetail">
                      <span class="pseudoLink" (click)="flipHoursDetail()">Show Less</span>
                    </ng-container>
                  </ng-template>
                </div>
              </div>
              <br>
              <div class="row">
                <h5 class="col-12 d-flex justify-content-center">
                  General Rules
                </h5>
              </div>
              <div class="row">
                <div class="col-12 d-flex justify-content-center">
                  <ng-container *ngIf="!showGeneralDetail; else generalElse">
                    <div class="module line-clamp"><p>{{venueRules}}</p></div>
                  </ng-container>
                  <ng-template #generalElse>
                    <ng-container *ngIf="showGeneralDetail">
                      <div><p>{{venueRules}}</p></div>
                    </ng-container>
                  </ng-template>
                </div>
              </div>
              <div class="row">
                <div class="col-12 d-flex justify-content-center">
                  <ng-container *ngIf="!showGeneralDetail; else showGeneralElse">
                    <span class="pseudoLink" (click)="flipGeneralDetail()">Show More</span>
                  </ng-container>
                  <ng-template #showGeneralElse>
                    <ng-container *ngIf="showGeneralDetail">
                      <span class="pseudoLink" (click)="flipGeneralDetail()">Show Less</span>
                    </ng-container>
                  </ng-template>
                </div>
              </div>
              <br>
              <div class="row">
                <h5 class="col-12 d-flex justify-content-center">
                  Child Rules
                </h5>
              </div>
              <div class="row">
                <div class="col-12 d-flex justify-content-center">
                  <ng-container *ngIf="!showChildDetail; else childElse">
                    <div class="module line-clamp"><p>{{venueChildRules}}</p></div>
                  </ng-container>
                  <ng-template #childElse>
                    <ng-container *ngIf="showChildDetail">
                      <div><p>{{venueChildRules}}</p></div>
                    </ng-container>
                  </ng-template>
                </div>
              </div>
              <div class="row">
                <div class="col-12 d-flex justify-content-center">
                  <ng-container *ngIf="!showChildDetail; else showChildElse">
                    <span class="pseudoLink" (click)="flipChildDetail()">Show More</span>
                  </ng-container>
                  <ng-template #showChildElse>
                    <ng-container *ngIf="showChildDetail">
                      <span class="pseudoLink" (click)="flipChildDetail()">Show Less</span>
                    </ng-container>
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col d-flex justify-content-center">
              <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#demoModal">Show venue on Google map</button>
            </div>
          </div>
    
        </mat-tab>
      </mat-tab-group>
    </div>
  </ng-container>
  
  <!-- <ng-template #demoModal>
    <div class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Event Venue</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Heyo
            <google-map></google-map>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </ng-template> -->
  
  
  <div class="modal" id="demoModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{venueName}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <google-map [zoom]="15" [center]="coordinates"><map-marker [position]="coordinates"></map-marker></google-map>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</ng-container>




