#searchBox {
  max-width: 600px;
  background-color: rgba(145, 145, 145, 0.35);
  border-radius: 10px;
}

h1 {
  text-align:center;
  color: white;
  font-family:Times;
}

label {
  color: lightblue;
}

td img {
  width:80px;
  height:50px;
  object-fit:cover;
}

h2 {
  text-align:center;
  width:80%;
}

#heartButton {
  max-width: 45px;
  border-radius: 100%;
}

.col-3 {
  text-align:center;
}

.col-4 {
  text-align:center;
}

img {
  max-width:100%;
}

.module {
  width: 250px;
  margin: 0 0 1em 0;
  overflow: hidden;
}
.module p {
  margin: 0;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

google-map {
  max-width:100%;
}

.asterisk {
  color: red;
}

hr {
  background-color: white;
  color: white;
  border: solid 2px white;
  height: 1px;
}

table {
  border-radius: 10px;
  overflow: hidden;
}

#detailBox {
  background-color: rgba(145, 145, 145, 0.5);
  border-radius: 10px;
  color: white;
  padding-bottom:30px;
}

h5 {
  color: rgb(59, 198, 171);
}

figcaption {
  color: white;
}

.modal-content {
  background-color: rgb(61, 61, 61);
}

.modal-title {
  color:white;
}

.pseudoLink {
  color: rgb(59, 198, 171);
  text-decoration: underline;
  cursor:pointer;
}

.icon {
  max-width: 40px;
  max-height: 40px;
}

#backButton {
  border-radius: 15px;
  background-color: rgb(32, 121, 199);
  max-width:100px;
}

#backLink {
  color:white;
  text-decoration:none;
}

#backLink:hover {
  text-decoration:underline;
}

#dataTable {
  cursor:pointer;
}

.album {
  width: 2in;
  height: 2in;
  border-radius:5px;
}

.artistProfile {
  width: 2.5in;
  height: 2.5in;
  border-radius:5px;
}