#searchBox {
  max-width: 600px;
}

h1 {
  text-align:center;
}

td img {
  width:80px;
  height:50px;
  object-fit:cover;
}

h2 {
  text-align:center;
}

#heartButton {
  max-width: 45px;
}

.col-3 {
  text-align:center;
}

.col-4 {
  text-align:center;
}

img {
  max-width:100%;
}

.module {
  width: 250px;
  margin: 0 0 1em 0;
  overflow: hidden;
}
.module p {
  margin: 0;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

google-map {
  max-width:100%;
}
