#searchBox {
  max-width: 600px;
}

h1 {
  text-align:center;
}

td img {
  width:80px;
  height:50px;
  object-fit:cover;
}

h2 {
  text-align:center;
}

#heartButton {
  max-width: 45px;
}

.col-3 {
  text-align:center;
}

.col-4 {
  text-align:center;
}

img {
  max-width:100%;
}